<!DOCTYPE html>
<html>
	<head>
		<title>{{ group.name }} - Summary</title>
		
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		
		<style>{% include "style.css" %}</style>
		<script type="text/javascript">{% include "script.js" %}</script>
	</head>
	<body>
		<div class="main">
			<h1>{{ group.name }} - Summary</h1>
			<nav>
				<form id="screenselect" onchange="switchScreen()">
					<input type="radio" name="screen" value="overview" id="screen_overview" checked>
					<label for="screen_overview">Overview</label>
					<input type="radio" name="screen" value="statistics" id="screen_statistics">
					<label for="screen_statistics">Statistics</label>
					<input type="radio" name="screen" value="media" id="screen_media">
					<label for="screen_media">Media</label>
				</form>
			</nav>
			<main>
				<section id="overview" class="enabled">
					<form class="overviewcontrols" onchange="paginate()">
						<select id="sort">
							<option value="desc">Newest first</option>
							<option value="asc">Oldest first</option>
						</select>
						&nbsp;
						<select id="perpage">
							<option value="10">10 per page</option>
							<option value="50">50 per page</option>
							<option value="100">100 per page</option>
							<option value="200">200 per page</option>
							<option value="0">Show everything</option>
						</select>
					</form>
					<div id="messages">
						{% for event in events %}
							{% include "message.html" %}
						{% endfor %}
					</div>
					<form class="pagecontrols" onchange="paginate()" onsubmit="return false">
						Page
						<input type="number" id="page" class="page" value="1" min="1" max="1" autocomplete="off">
						of <span id="pagecount">1</span>
					</form>
				</section>
				<section id="statistics">
					<h2>Export info</h2>
					<table>
						<tr>
							<th>Date created</th>
							<td>{{ export.creation_time }}</td>
						</tr>
						<tr>
							<th>Username</th>
							<td>{{ export.user_name }}</td>
						</tr>
						<tr>
							<th>Version</th>
							<td>{{ export.version }}</td>
						</tr>
					</table>
					<h2>Reactions</h2>
					<h3>Reacts given</h3>
					<table class="count share">
						<thead>
							<tr>
								<th>Author</th>
								<th>Amount</th>
								<th>Share</th>
							</tr>
						</thead>
						<tbody>
							{% for user, count, share, total in stats.reactsGiven %}
								<tr>
									<td>{{ user }}</td>
									<td>{{ count }}</td>
									<td>{{ share }}</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>{{ stats.reactsGiven[0][-1] }}</td>
								<td>100%</td>
							</tr>
						</tfoot>
					</table>
					<h3>Reacts received</h3>
					<table class="count share">
						<thead>
							<tr>
								<th>Author</th>
								<th>Amount</th>
								<th>Share</th>
							</tr>
						</thead>
						<tbody>
							{% for user, count, share, total in stats.reactsReceived %}
								<tr>
									<td>{{ user }}</td>
									<td>{{ count }}</td>
									<td>{{ share }}</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>{{ stats.reactsReceived[0][-1] }}</td>
								<td>100%</td>
							</tr>
						</tfoot>
					</table>
					<h3>Distribution of reacts</h3>
					<table class="count share">
						<thead>
							<tr>
								<th>Reacts</th>
								<th>Messages</th>
								<th>Share</th>
							</tr>
						</thead>
						<tbody>
							{% for reacts, messages, share, total in stats.reactsDistribution %}
								<tr>
									<td>{{ reacts }}</td>
									<td>{{ messages }}</td>
									<td>{{ share }}</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>{{ stats.reactsDistribution[0][-1] }}</td>
								<td>100%</td>
							</tr>
						</tfoot>
					</table>
					<h3>Self-awarded reacts</h3>
					<table class="count">
						<thead>
							<tr>
								<th>Author</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							{% for user, count, total in stats.selfAdoration %}
								<tr>
									<td>{{ user }}</td>
									<td>{{ count }}</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>{{ stats.selfAdoration[0][-1] }}</td>
							</tr>
						</tfoot>
					</table>
					
					<h2>Messages</h2>
					<h3>Messages sent by user</h3>
					<table class="count share">
						<thead>
							<tr>
								<th>Author</th>
								<th>Amount</th>
								<th>Share</th>
							</tr>
						</thead>
						<tbody>
							{% for user, count, share, total in stats.usersShare %}
								<tr>
									<td>{{ user }}</td>
									<td>{{ count }}</td>
									<td>{{ share }}</td>
								</tr>
							{% endfor %}
						</tbody>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>{{ stats.usersShare[0][-1] }}</td>
								<td>100%</td>
							</tr>
						</tfoot>
					</table>
					<h3>Distribution by time</h3>
					<table class="count histo smalldist">
						<thead>
							<tr>
								<th>Hour</th>
								<th>Messages</th>
								<th>Histogram</th>
							</tr>
						</thead>
						<tbody>
							{% for hour, messages, histo, total in stats.hourDistribution %}
								<tr>
									<td>{{ hour }}</td>
									<td>{{ messages }}</td>
									<td><div class="histo"><div style="width: {{ histo }}%"></div></div></td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>{{ stats.hourDistribution[0][-1] }}</td>
								<td></td>
							</tr>
						</tfoot>
					</table>
					<h3>Distribution by period</h3>
					<table class="count histo smalldist">
						<thead>
							<tr>
								<th>Period</th>
								<th>Messages</th>
								<th>Histogram</th>
							</tr>
						</thead>
						<tbody>
							{% for period, messages, histo, total in stats.monthDistribution %}
								<tr>
									<td>{{ period }}</td>
									<td>{{ messages }}</td>
									<td><div class="histo"><div style="width: {{ histo }}%"></div></div></td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<td>{{ stats.monthDistribution[0][-1] }}</td>
								<td></td>
							</tr>
						</tfoot>
					</table>
					
					<h2>Best of</h2>
					{% for year, messages in stats.bestMessages %}
						<h3>Top 10 of {{ year }}</h3>
						<table class="messages">
							{% for event in messages %}	
							<tr>
								<th onclick="showMessage('{{ event.id }}')">{{ loop.index }}</th>
								<td>{% include "message.html" %}</td>
							</tr>
							{% endfor %}
						</table>
					{% endfor %}
				</section>
				
				<section id="media">
					<h2>Images</h2>
					<div class="mediacontainer">
						{% for event in events|reverse %}
							{% if event.asset_kind == "image" %}
								<a class="mediaitem" href="assets/{{ event.asset_key }}" target="_blank">
									<img src="assets/thumbnails/{{ event.asset_key }}.png">
								</a>
							{% endif %}
						{% endfor %}
					</div>
					<h2>Remaining assets</h2>
					<div class="mediacontainer textthumb">
						{% for event in events|reverse %}
							{% if event.asset_kind and event.asset_kind != "image" %}
								<a class="mediaitem" href="assets/{{ event.asset_key }}" target="_blank">
									{% if event.asset_kind == "audio" %}
										Audio
									{% elif event.asset_kind == "video" %}
										Video
									{% else %}
										File
									{% endif %}
									<br>{% if event.asset_name %} {{ event.asset_name }} {% else %} {{ event.asset_key }} {% endif %}
								</a>
							{% endif %}
						{% endfor %}
					</div>
				</section>
				<script type="text/javascript">
					switchScreen();
					paginate();
				</script>
			</main>
			<footer>
				<a class="print" href="#" onclick="window.print(); return false">Print</a>
				<a class="credits" href="https://github.com/cerber-os/wire-backup-parser" target="_blank">
					Wire Backup Parser by Armia Prezesa
				</a>
			</footer>
		</div>
	</body>
</html>
