<div class="message" data-id="{{ event.id }}">
	<p class="date">{{ event.time }}</p>
	<p class="author">{{ event.origin }}</p>
	<p class="content">
		{% if event.type == "conversation.message-add" %}
			{{ event.message|e }}
		{% elif event.type == "conversation.asset-add" %}
			{% if event.asset_kind == "image" %}
				<a class="imgwrapper" href="assets/{{ event.asset_key }}" target="_blank">
					<img src="assets/thumbnails/{{ event.asset_key }}.png">
				</a>
			{% elif event.asset_kind == "audio" %}
				<audio src="assets/{{ event.asset_key }}"></audio>
			{% elif event.asset_kind == "video" %}
				<video src="assets/{{ event.asset_key }}" controls></video>
			{% elif event.asset_key %}
				<span class="eventdescription">
					Asset <a href="assets/{{ event.asset_key }}">{{ event.asset_key }}</a>
				</span>
			{% else %}
				<span class="eventdescription" style="color: red">Asset unavailable</span>
			{% endif %}
		{% elif event.type == "conversation.delete-everywhere" %}
			<span class="eventdescription">Deleted message</span>
		{% elif event.type == "conversation.knock" %}
			<span class="eventdescription">Pinged</span>
		{% elif event.type == "conversation.group-creation" %}
			<span class="eventdescription">Created group</span>
		{% elif event.type == "conversation.rename" %}
			<span class="eventdescription">Renamed group to "{{ event.new_name|e }}"</span>
		{% elif event.type == "conversation.member-join" %}
			<span class="eventdescription">Added user(s): {% for user in event.target_users %}{{ user|e }} {% endfor %}</span>
		{% elif event.type == "conversation.member-leave" %}
			<span class="eventdescription">Removed user(s): {% for user in event.target_users %}{{ user|e }} {% endfor %}</span>
		{% elif event.type == "conversation.location" %}
			<span class="eventdescription">Shared location {% if event.location_name %}of "{{ event.location_name|e }}" {% endif %}:</span>
			<span class="eventdescription">Longitude: {{ event.longitude }}, Latitude: {{ event.latitude }}, Zoom level: {{ event.location_zoom }}</span>
		{% elif event.type == "conversation.unable-to-decrypt" %}
			<span class="eventdescription" style="color: red">Unable to decrypt message: {{ event.reason|e }} </span>
		{% else %}
			<span style="color: red">{{ event.type }}</span>
		{% endif %}
	</p>
	{% if event.reactions|length != 0 %}
		<p class="likes">
			{% if event.reactions|length <= 3 %}
				&#9825; from
			{% else %}
				&#9825; from {{ event.reactions|length }}:
			{% endif %}
			{{ event.reactions|join(', ') }}
		</p>
	{% endif %}
</div>
